<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ApartmentParameters.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ApartmentParameters.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ApartmentParameters.CalculationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ApartmentParameters.Properties.Settings1>
            <setting name="ParamTest" serializeAs="String">
                <value>Fkmdfkmdkfmdf</value>
            </setting>
        </ApartmentParameters.Properties.Settings1>
        <ApartmentParameters.Properties.Settings>
            <setting name="Living_Flat_One_Dry" serializeAs="String">
                <value>BRU_Пол_Стяжка М200_50мм_Теплоизоляция плотностью 35 кг/м3_80мм_жилье</value>
            </setting>
            <setting name="Living_Flat_One_Wet" serializeAs="String">
                <value>BRU_Пол_Стяжка М200_50мм_Теплоизоляция плотностью 35 кг/м3_80мм_Гидроизоляция_Грунтовка_жилье</value>
            </setting>
            <setting name="Living_Flat_One_Terrase" serializeAs="String">
                <value>BRU_Пол_Террасная Доска_30мм_Лаги деревянные, шаг 500 мм_50мм</value>
            </setting>
            <setting name="Living_Flat_Typical_Dry" serializeAs="String">
                <value>BRU_Пол_Стяжка М200_50мм_Пленка 200мкм_Теплоизоляция 2Слоя_50мм</value>
            </setting>
            <setting name="Living_Flat_Typical_Wet" serializeAs="String">
                <value>BRU_Пол_Стяжка М200_85мм_Звукоизоляция_5мм_Гидроизоляция 2Слоя_Грунтовка</value>
            </setting>
            <setting name="Living_Flat_Typical_Summer" serializeAs="String">
                <value>BRU_Пол_Гидроизоляция</value>
            </setting>
            <setting name="Living_Common_MinusOne_Dry" serializeAs="String">
                <value>Пол_Финишная отделка_Керамогранитная плитка+Клей_20мм_МОП</value>
            </setting>
            <setting name="Living_Common_One_Dry" serializeAs="String">
                <value>BRU_Пол_Стяжка М200_50мм_Теплоизоляция плотностью 35кг/м3_80мм</value>
            </setting>
            <setting name="Living_Common_Typical_Dry" serializeAs="String">
                <value>BRU_Пол_Стяжка М200_95мм_Звукоизоляция_5мм</value>
            </setting>
            <setting name="Living_Common_MinusOne_Wet" serializeAs="String">
                <value>BRU_Пол_Стяжка М200_40мм_Теплоизоляция плотностью 35 кг/м3_50мм_Гидроизоляция_5мм_Грунтовка_жилье</value>
            </setting>
            <setting name="Retail_Sale_MinusOne_Dry" serializeAs="String">
                <value>BRU_Пол_Стяжка М200_50мм_Теплоизоляция плотностью 35 кг/м3_50мм_коммерция -1 этаж</value>
            </setting>
            <setting name="Retail_Sale_One_Dry" serializeAs="String">
                <value>BRU_Пол_Стяжка М200_50мм_Теплоизоляция плотностью 35 кг/м3_80мм_коммерция</value>
            </setting>
            <setting name="Retail_Sale_Typical_Dry" serializeAs="String">
                <value>BRU_Пол_Стяжка М200_50мм_Теплоизоляция плотностью 35 кг/м3_50мм_коммерция типовой этаж</value>
            </setting>
            <setting name="Pantries_Sale_MinusOne_Dry" serializeAs="String">
                <value>BRU_Пол_Обеспыливающая пропитка_кладовые</value>
            </setting>
            <setting name="All_Sale_OwnersFinishFloor" serializeAs="String">
                <value>BRU_Пол_Финишная отделка_Выполняется собственником_20мм</value>
            </setting>
            <setting name="SheetTemplateFamilyName" serializeAs="String">
                <value>BRU_Лист А4_КЖИ</value>
            </setting>
            <setting name="SheetTemplateName" serializeAs="String">
                <value>А4 Стена К1-Кт</value>
            </setting>
            <setting name="Developer" serializeAs="String">
                <value>Алферьев</value>
            </setting>
            <setting name="Checker" serializeAs="String">
                <value>Пусвацет</value>
			</setting>
            <setting name="Living_Common_One_Wet" serializeAs="String">
                <value>BRU_Пол_Стяжка М200_50мм_Теплоизоляция плотностью 35 кг/м3_70мм_гидроизоляция</value>
            </setting>
        </ApartmentParameters.Properties.Settings>
        <ApartmentParameters.CalculationSettings>
            <setting name="LivigRoomNamesSet" serializeAs="String">
                <value>Гостиная
Кабинет
Спальня
Жилая комната</value>
            </setting>
            <setting name="ApartAreaParamGuidSet" serializeAs="String">
                <value>d3035d0f-b738-4407-a0e5-30787b92fa49</value>
            </setting>
            <setting name="SummerRoomNamesSet" serializeAs="String">
                <value>Балкон
Лоджия
Выход на террасу
Выход на кровлю
Терраса</value>
            </setting>
            <setting name="CommonRoomNamesSet" serializeAs="String">
                <value>МОП
ИТП
Колясочная
Лестничная клетка
Лестнично-лифтовой холл
Межквартирный коридор
Лифтовый холл


Ритейл
Электрощитовая</value>
            </setting>
            <setting name="ApartmentNamesSet" serializeAs="String">
                <value>Балкон
Выход на кровлю
Гардероб
Гостиная
Жилая комната
Жилая комната с кухней-нишей
Кабинет
Коридор
Кладовая
Кухня
Кухня-гостиная
Лоджия
Лоджия (теплая)
Лоджия (холодная)
Постирочная
Прихожая
Сан. узел
Сауна
Спальня
Терраса</value>
            </setting>
        </ApartmentParameters.CalculationSettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.48.0.0" newVersion="1.48.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.49.0.0" newVersion="1.49.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AdWindows" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.7.0" newVersion="3.1.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.3.1.0" newVersion="8.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RevitAPI" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-22.0.0.0" newVersion="22.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RevitAPIUI" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-21.0.0.0" newVersion="21.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
